<h1 style="text-align:center;">TODOS LOS PRESTAMOS</h1>

<div style="margin-top: 100px;">
   <table class="table table-striped">
      <thead>
         <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Monto en $</th>
            <th scope="col">Estado</th>
            <th scope="col">ver detalle</th>
         </tr>
      </thead>
      <tbody>
         {{#each prestamosMaria}}
            <tr>
               <th scope="row">{{prestamoId}}</th>
               <td>{{cliente.clienteNombre}}</td>
               <td>{{cliente.clienteApellido}}</td>
               <td>{{prestamoMonto}}$</td>
               <td>{{prestamoEstado}}</td>
               <td><a
                     class="btn btn-primary"
                     href="/api/prestamo/{{prestamoId}}"
                  >Detalle</a></td>
            </tr>

         {{/each}}
      </tbody>
   </table>

</div>